* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors  */
  --dark-color: #222216;
  --gray-color: #b4b7ab;
  --light-color: #f2efdf;
  --brown-color: #402e1e;
  --brown-second-color: #9b6e4f;

  /* Font */
  --body-font: 'Public Sans', sans-serif;
  --subtitle-font-size: 16px;
  --title-font-size: 3rem;
}
body {
  font-family: var(--body-font);
}

body .title {
  font-family: 'Public Sans', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

#header {
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
  font: 400 var(--subtitle-font-size) var(--body-font);
}

#header .container {
  padding: 0;
  max-width: 1200px;
}

#header .nav-item a,
#header .btn-registration {
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: bold;
}

#header .btn-registration {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 0.3rem 1rem;
  margin: 1px;
  background-color: transparent;
  color: #000;
  border: solid 1.5px #000;
  text-decoration: none;
  transition: all 0.8s;
}

#header .btn-registration:hover {
  background-color: #000;
  color: #fff;
}

#header .icon {
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

#header .nav-item .nav-link {
  color: #000;
  font-family: 'Public Sans';
  font-size: 14px;
  transition: 0.8s;
  border-bottom: solid 3px transparent;
  margin: 0px 4px;
}

#header .nav-item .nav-link:hover {
  color: #9b6e4f;
  font-family: 'Public Sans';
  border-color: #9b6e4f;
}

/************************************** Section Home  **********************************/

#home {
  margin-top: 3.5rem;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: 620px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.8;
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 1;
  z-index: 1;
}

#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -40px;
  width: 100vw;
  color: var(--light-color);
  max-width: 1200px;
}

#home .row {
  text-align: center;
  padding: 1.5rem;
  margin-top: 0rem;
}

#home h1 {
  margin-top: 0px;
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

#home h3 {
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
}

#home p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#home .buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .btn-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0.7rem 0.5rem;
  border-radius: 0rem;
  border: none;
  font: 700 16px var(--body-font);
  width: 18rem;
  margin: 1rem;
  transition: all 0.8s;
}

#home .btn-1:hover {
  border: none;
  background-color: #9b6e4f;
  color: #fff;
}

#home .btn-2 {
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0.7rem 1rem;
  border-radius: 0rem;
  border: solid 1.5px #fff;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  width: 18rem;
  margin: 1rem;
  transition: all 0.8s;
}

#home .btn-2:hover {
  background-color: #fff;
  color: #000;
}

/*************************************** Cards  ********************************************/

#cards {
  /* margin-bottom: 6rem; */
  margin-top: -6rem;
  /* border: 1px solid red; */
}

#cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  height: 100%;
  padding: 0.4rem 1rem 0.2rem 1rem;
  border: solid 1px #ccc;
  transition: all 0.8s;
  border-radius: 6px;
}

#cards .card:hover {
  border-color: #9b6e4f;
}

#cards .card-img-top {
  color: #000;
  height: 3rem;
  width: 3rem;
}

/* ========================================== */
/* BOTÃO DO FORMULÁRIO INSCRIÇÃO*/
/* ========================================== */
/* 
#newsletter .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnnewsform {
  border-radius: 0.5rem;
  padding: 8px 35px;
  background-color: black;
  color: white;
  font-weight: 700;
  transition: all 0.5s;
}

.btnnewsform:hover {
  background-color: #9b6e4f;
} */

/*************************************About  ***********************************************/
#about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: none;
}

#about .col {
  padding: 1rem;
  text-align: center;
  /* border: 1px solid blue; */
}

#about h1 {
  font-weight: 800;
  margin-bottom: 2rem;
  font-size: var(--title-font-size);
  letter-spacing: -2px;
}

#about p {
  font-size: 15px;
}

.btnabout {
  background-color: #402e1e;
  color: #fff;
  text-decoration: none;
  padding: 12px 35px;
  margin-top: 50px;
  transition: all 0.8s;
}

.btnabout:hover {
  background-color: #000;
  color: #fff;
}

/************************************** conteudo *******************************/

#conteudo .row {
  margin-bottom: 2rem;
}

#conteudo .card {
  height: 100%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border: none;
  transition: all 0.8s;
  padding: 0;
}
#conteudo .card:hover {
  opacity: 0.8;
}

#conteudo .card img {
  height: 18rem;
  object-fit: cover;
}

#conteudo .card .card-body {
  font-family: var(--body-font);
  text-align: justify;
}

.back-to-top {
  background: var(--brown-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  font-size: 2.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.back-to-top.show:hover {
  background-color: var(--light-color);
  color: var(--brown-color);
  border-color: var(--brown-color);
}

.card-title {
  text-align: center;
  font-family: 'Public Sans';
  font-size: 17px;
  font-weight: bold;
}

.card-text {
  font-size: 15px;
  text-align: center;
}

/****************************************** Mobile  ****************************************/
@media (max-width: 680px) {
  body p {
    font-size: 1.3rem;
  }
  #header .nav-item .nav-link {
    font-size: 1.5rem;
    text-align: center;
  }

  #header .dropdown-menu .dropdown-item {
    font-size: 1.3rem;
    text-align: center;
    background-color: #9b6e4f;
    color: aliceblue;
  }

  #header .nav-item a,
  #header .btn-registration {
    margin-top: 0.5rem;
    color: var(--dark-color);
    font-size: 1.3rem;
    font-weight: bold;
  }

  #header .icon {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  #home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    color: var(--light-color);
    max-width: 1200px;
  }

  #home .logo {
    max-width: 90%;
  }

  #home .row {
    text-align: center;
  }

  #home h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;

    /* border: 1px solid red; */
  }

  #home h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #home p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  #home .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

  #home .btn-1,
  #home .btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font: 400 var(--subtitle-font-size) var(--body-font);
    width: auto;
  }

  /*********************** Cards ****************************/

  #cards {
    margin: 0;
  }

  /****************************** About ****************************/

  #about .row {
    display: block;
  }

  /*************************** conteudo ****************/

  #conteudo .container .row .col {
    height: 100%;
    /* border: 1px solid red; */
  }

  #conteudo .card {
    margin-bottom: 2rem;
    /* border: 1px solid red; */
  }

  #conteudo .card img {
    height: 200px;
  }
}

/******************************* Pages *-*************************  */
#archeology .container,
#astronomy .container,
#oceanography .container,
#theStoneCode .container,
#ufology .container,
#courses .container {
  max-width: 1300px;
  padding-left: 0 15px;
  margin-bottom: 5rem;
  margin-top: 3rem;
  /* border: 1px solid red; */
}

#archeology,
#astronomy,
#oceanography,
#theStoneCode,
#ufology {
  margin-top: 2.5rem;
}

#archeology .row,
#astronomy .row,
#oceanography .row,
#theStoneCode .row,
#ufology .row {
  padding: 0.5rem;
}

#archeology .row .col,
#astronomy .row .col,
#oceanography .row .col,
#theStoneCode .row .col,
#ufology .row .col {
  display: flex;
  justify-content: center;
}

#archeology h1,
#astronomy h1,
#oceanography h1,
#theStoneCode h1,
#ufology h1 {
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}

#archeology .img-1,
.img-2,
#archeology .img-1,
.img-2,
#astronomy .img-1,
.img-2,
#oceanography .img-1,
.img-2,
#theStoneCode .img-1,
.img-2,
#ufology .img-1,
.img-2 {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}

#archeology video {
  width: 100%;
  height: 100%;
}

.pagebanner {
  padding-top: 60px;
  background-color: #000;
  color: #fff;
  padding-bottom: 70px;
}

/************************** Page Login ******************************/

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login .form-signin {
  width: 30rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

#login .btn-back {
  background: var(--brown-second-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 1rem;
  top: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 4px solid var(--light-color);
  font-size: 2.5rem;
  line-height: 0;
}

#login .btn-back:hover {
  background-color: var(--light-color);
  color: var(--brown-second-color);
  border-color: var(--brown-second-color);
}

#login .btn-login {
  background-color: var(--brown-second-color);
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  color: var(--light-color);
  font: bold 1rem var(--body-font);
  transition: all 0.4s;
}

#login .btn-login:hover {
  background-color: var(--light-color);
  color: var(--brown-second-color);
  border: 3px solid var(--brown-second-color);
}

/* ============== SEÇÃO CTA1 ================== */

#cta1 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #402e1e;
  color: #fff;
}

.btncta1 {
  background-color: #fff;
  color: #000;
  padding: 12px 35px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.8s;
}

.btncta1:hover {
  background-color: #9b6e4f;
  color: #fff;
}

/* ============== CONTACT ================== */

#contact {
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact h1 {
  font-weight: 700;
}

.btn-form {
  background-color: var(--brown-second-color);
  border: none;
  border-radius: 0.5rem;
  padding: 12px 35px;
  height: 3rem;
  color: var(--light-color);
  font: bold 1rem var(--body-font);
  transition: all 0.4s;
}

.btn-form:hover {
  background-color: var(--light-color);
  color: var(--brown-second-color);
  border: 3px solid var(--brown-second-color);
}

/********************************Page Archeology *************************** */

#archeology img .card-img {
  display: block;
}

#archeology .card:hover {
  opacity: 0.8;
}

#archeology .card:hover .card-img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.item-zoom {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 110px;
}

.item-zoom img {
  vertical-align: top;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item-zoom:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
